html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: rgb(54, 54, 54);
  font-family: "Saira", sans-serif;
  position: relative;
}

* {
  box-sizing: border-box;
  transition: all 0.12s cubic-bezier(0.42, 0.54, 0.22, 1.26);
}

#canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

audio {
  position: fixed;
  left: 50%;
  bottom: 10px;
  transform: translate3d(-50%, 0, 0);
  width: 20%;
}


audio::-webkit-media-controls {
  background-color: #f2f2f2;
  border-radius: 5px;
  margin: 0;
  padding: 10px;
}

audio::-webkit-media-controls-play-button {
  background-color: #989898;
  border: none;
  border-radius: 5px;
  color: #fff;
  height: 25px;
  width: 25px;
}

audio::-webkit-media-controls-pause-button {
  background-color: #e74c3c;
  border: none;
  border-radius: 5px;
  color: #fff;
  height: 25px;
  width: 25px;
}

audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button {
  background-color: transparent;
  border: none;
  color: #fff;
  height: 25px;
  width: 25px;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  color: black;
  font-size: 14px;
  font-weight: bold;
}

audio::-webkit-media-controls-volume-slider-container {
  display: none;
}

audio.active {
  bottom: 10px;
}

#thefile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

audio::-webkit-media-controls-timeline {
  display: none;
}

label.file {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  padding: 1rem 2rem;
  border-radius: 4px;
  font-size: 1.25em;
  font-weight: 700;
  background-color: #989898;
  transition: .3s ease-in-out all;
  cursor: pointer;
}

label.file:hover {
  background-color: #e74c3c;
  transform: translate3d(-50%, -55%, 0);
}

label.file:active {
  transform: translate3d(-50%, -45%, 0);
}

label.file.normal {
  transform: translate3d(10%, 50%, 0);
  padding: 0.2rem 2rem;
  font-size: 1rem;
  top: 0;
  left: 0;
}
